/*
** -----------------------
**  MAIN DOCUMENT STYLING
** -----------------------
*/
:root {
    --bg-color: #f3f3f3;
    --content-main: #ffffff;
    --content-accent: #f3f3f3;
    --text-main: #0f0f0f;
    --text-accent:  #414141;
    --box-shadow:  #4b4b4b;
    --border-color: #0f0f0f;
    --modal-color: rgba(0,0,0, 0.5);
    --background-inversion: 0;
    --button-hover:#c2c2c2;
}
[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --content-main: #252525;
    --content-accent: #1b1b1b;
    --text-main: #e0e0e0;
    --text-accent:  #cacaca;
    --box-shadow:  #161616;
    --border-color: #8a8a8a;
    --modal-color: rgba(79, 79, 79, 0.5);
    --background-inversion: 1;
    --button-hover:#747474;
}

@font-face {
    font-family: 'Chicago';
    src: url('sysfont.woff2') format('woff2'),
         url('fsysfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Chicago';
    src: url('JoganSoft-rgwKy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;  
    min-width: 360px;
    font-family: "Chicago", monospace, sans-serif; 
    background-color: var(--bg-color);  
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('oooscillate(2).svg') no-repeat center;
    background-size: cover;
    filter: invert(var(--background-inversion)); 
}

#container {
    grid-template-rows: [menu-start] 40px [menu-end options-start] 60px [options-end content-start] 4fr;
    display: grid;
    height: 100%;
    gap: 10px;
}
label, a, input {
    color: var(--text-main);
}
button:hover, input[type='button']:hover {
    background-color: var(--button-hover);
}
/*
** -----------------------
**  MENU STYLING
** -----------------------
*/
#menu {
    border-bottom: 2px solid var(--border-color);
    background-color: var(--content-main);
    display: flex;
    align-items: center;
    z-index: 1;
    grid-row: 1/2;
}
.nav-item {
    color: var(--text-accent);
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
}
.toggle-switch {
    position: relative;
    width: 50px;
    margin: 5px;
    top: -12px;
}
.switch-label {
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: var(--border-color);
    cursor: pointer;
    border: 1px solid var(--text-main);
}
.switch-checkbox{
    position: absolute;
    display: none;
}
.switch-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.switch-checkbox:checked ~ .switch-slider {
    background-color: var(--bg-color);
}
.switch-slider::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: rgb(245, 245, 245);
    transition: 0.3s;
    
}
.switch-checkbox:checked ~ .switch-slider::before {
    transform: translateX(30px);
    background-color: var(--text-main);
    
}
/*
** -----------------------
**  LOGIN/SEARCH PAGE STYLES
** -----------------------
*/
#search-card {
    position: absolute;
    top: 30%;
    background-color: var(--content-main);
    border: 1px solid var(--border-color);
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    box-shadow: 4px 4px var(--box-shadow);
}
#search-banner {
    height: 28px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    position: relative;
}
#search-banner::before {
    content: "";
    height: 28px;
    width: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        var(--text-accent),
        var(--text-accent)1px,
        var(--content-main) 1px,
        var(--content-main) 7px
    );
    clip-path: inset(5px);
}
#search-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#search-label {
    font-size: 1.1rem;
}

#search-input {
    font-size: 1.1rem;
    margin: 20px;
    padding-left: 5px;
}
#search-button {
    width:40%;
    align-self: end;
}
#spotify {
    width: 60%;
    align-self: end;
    color: var(--text-main);
    padding: 10px;
    margin: 15px 10px;;
    font-weight: bold;
    background-color: #1DB954;
}
/*
** -----------------------
**  RECOMMENDATION PAGE STYLES
** -----------------------
*/
#main-content {
    grid-row: 3 /4;
    margin: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
    left: -2px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px var(--box-shadow);
    background-color: var(--content-main);
}
.banner-button {
    cursor: pointer;
    color: var(--text-main);
    border: 1px solid var(--border-color);
    box-shadow: inset 2px 2px var(--box-shadow);
    font: inherit;
    background-color: var(--content-accent);
    position: relative;
}
.banner-button:focus {
    outline: 1px dashed var(--border-color);
}
.form-button {
    border: none;
    background: none;
    text-decoration: underline;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    color: var(--text-main);
    padding: 5px;
}
.form-button:focus {
    outline: 2px dashed var(--border-color);
}
.text-input {
    border: none;
    background-color: var(--content-accent);
    color: var(--text-main);
    font-family: inherit;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--border-color);
    margin: 5px;
    width: 80%;
    
}
.text-input:focus{
    outline: 2px solid var(--text-main);
}

#form-card {
    grid-row: 2 /3;
    margin: 5px 10px;
    display: flex;
    position: relative;
    left: -2px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px var(--box-shadow);
    background-color: var(--content-main);
    padding: 6px;
}
#form-content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}




/*
** -----------------------
**  LEGEND
** -----------------------
*/
#legend {
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--content-main);
    border-bottom: 1px solid var(--border-color);
    font-weight: normal;
    margin-bottom: 5px;
}
#legend::before {
    position: absolute;
    left: 0px;
    content: "";
    background: repeating-linear-gradient(
        var(--text-accent),
        var(--text-accent) 1px,
        var(--content-main) 1px,
        var(--content-main) 8px
    );
    width: 100%;
    height: 100%;
    clip-path: inset(10px);
}
#legend > *{
    color: var(--text-main);
}
#legend-track {
    position: relative;
    left: 90px;
    background-color: var(--content-main);
    padding: 4px 10px;
    
}
#legend-album {
    position: relative;
    left: 15%;
    background-color: var(--content-main);
    padding: 4px 10px;
}
#track-add-button {
    padding:2px 4px 2px 4px;
    margin-right: 40px;
    box-shadow: inset 2px 2px var(--box-shadow), 0px -5px 0 10px var(--content-main);
}

/*
** -----------------------
**  TRACK CARDS
** -----------------------
*/
.track-card {
    display: flex;
    align-items: center;
    position: relative;
    
    max-height: 95px;
    font-size: 0.9rem;
    padding: 0.8rem;
    margin: 0.4rem 0.8rem;
    
    border: 1px solid var(--border-color);
    background-color: var(--content-accent);
    box-shadow: inset 2px 2px var(--box-shadow);
    
}
@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

.track-image-container {
    width: 64px;
    height: 64px;
    border: 1px solid var(--border-color);
    position: relative;
    box-shadow: inset 0px 0px 0 30px black;
    border-radius: 0;
    transition: border-radius 1s linear;
}
.track-image {
    transition: clip-path 1s linear;
    clip-path: circle(100%);
    animation: spin 5s infinite linear;
    animation-play-state: paused;
    
}
.track-image-container.record {
    border-radius: 50px;
    transition: border-radius 1s linear 500ms;
}
.track-image-container.record > .track-image {
    clip-path: circle(25%);
    transition: clip-path 1s linear;
}
.track-image-container.playing > .track-image {
    animation-play-state: playing;
}
.track-image-container.record::after {
    content: "";
    position: absolute;
    top: 28px;
	left: 28px;
    border-radius: 10px;
    background-color: white;
    width: 8px;
    height: 8px;
    transition: all 1s linear;
}


.preview-error {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--modal-color);
    color: var(--bg-color);
    text-align: center;
    z-index: 1;
    display: none;
}


.track-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.8rem;

}
.track-info > * {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
}
.track-album {
    padding-left: 10px;
    width: 40%;
    color: var(--text-main);
}

.track-title {
    font-size: 1rem;
    padding-top: 0px;
    color: var(--text-main);
}
.track-artists {
    color: var(--text-accent);
    font-size: 0.8rem;
}
.track-controls {
    min-width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.track-button {
    box-shadow: 2px 2px var(--box-shadow);
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    text-decoration: none;
    color: var(--text-main);
    background-color: var(--content-accent);
    font: inherit;
    font-size:1.1rem;
}

#send-card {

    display: flex;
    
    padding: 0.8rem;
    margin: 0.4rem 0.8rem;
    
    border: 1px solid var(--border-color);
    background-color: var(--content-accent);
    box-shadow: inset 2px 2px var(--box-shadow);
}
#send-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/*
** -----------------------
**  MODAL STYLES
** -----------------------
*/
#modal-background {
    position: fixed;
    z-index: 1;
    background: var(--modal-color);
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    display: none;
}
#modal-container {
    background: var(--content-main);
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--border-color);
    min-width: 306px;
    box-shadow: 4px 4px var(--box-shadow);
 }
 #modal-banner {
    height: 40px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#modal-banner::before {
    content: "";
    height: 30px;
    width: 100%;
    position: absolute;
    background: repeating-linear-gradient(
        var(--text-accent),
        var(--text-accent)1px,
        var(--content-main) 1px,
        var(--content-main) 8px
    );
    clip-path: inset(5px);
}
#modal-title {
    position: relative;
    left: 30px;
    padding: 6px;
    background-color: var(--content-main);
    z-index: 1;
    color: var(--text-main);
}
#modal-cancel {
    padding:2px 4px 2px 4px;
    margin: 0 40px 0 15px;
    box-shadow: inset 2px 2px var(--box-shadow), 0px 0px 0 5px var(--content-main);
    
}
.modal-card {
    padding: 20px;
    display: none;
}

.modal-submit {
    padding:0.5rem 0.8rem;
    left: 80%;
}

.modal-item {
    padding: 5px;
    display: flex;
    align-items: center;
}
.modal-item > label {
    width: 100%;
    font-weight: bold;
}
.range-indicator {
    width: 70px;
    padding: 0 10px;
    color: var(--text-main);
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track {
    background: transparent;
    height: 26px;
    }
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px; 
}
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: transparent;
}



.visible-range {
    --n:30;    /* control the number of stripes */
    --s:6px; /* control the width of stripes */
    --g:2px;  /* control the gap between stripes */
    
    width:calc(var(--n)*(var(--s) + var(--g)) - var(--g));
    height:20px;
    padding:var(--g);
    margin:5px auto;
    border:1px solid var(--border-color);
    background:
      repeating-linear-gradient(90deg,
        var(--border-color)  0 var(--s),
        #0000 0 calc(var(--s) + var(--g))
      ) left / calc((var(--n) + 1)*(var(--s) + var(--g))) 100% 
      no-repeat content-box;
    position: relative;
}
.invisible-range {
    position: absolute;
    left: -2px;
    width: 100%;
  }

#radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.visibility-radio {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
}
.visibility-radio+label {
    padding: 6px 4px;
    margin: 0 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
.visibility-radio:checked+label {
    border: 1px solid var(--border-color);
}
.visibility-radio:focus-within+label {
    border: 1px solid var(--border-color);
}




/*
** -----------------------
**  RESPONSIVE STYLING
** -----------------------
*/



@media screen and (max-width: 479px){
    #search-card {
        width: 315px;
    }
    .nav-item {
        padding: 0.6rem 0.6rem;
    }
    .track-album, #legend-album {
        display: none;
    }
    #modal-container {
        width: 320px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px){
    .nav-item {
        padding: 0.6rem 0.6rem;
    }
    .track-album, #legend-album {
        display: block;
    }
    #modal-container {
        width: 320px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #main-content {
        margin: 5px 10%;
    }
    #form-card {
        margin: 5px 15%;
    }
    .track-info > * {
        font-size: 1.1rem;
    }
    .track-album {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1024px) {
    #container {
        grid-template-columns: [tracks-start] 2fr [tracks-end options-start] 1fr;
    }
    #menu {
        grid-column: 1/4;
    }
    #form-card {
        grid-column: 2/3;
        margin: 5px 5%;
    }
    #main-content {
        grid-row: 2 /4;
        grid-column: 1/2;
        margin: 5px 10%;
    }
    .form-submit-button {
        font-size: 1.2rem;
    }
    #legend {
        font-size: 1.2rem;
    }
    .track-info > * {
        font-size: 1.1rem;
    }
    .track-album {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1440px) {
    #form-card {
        margin: 5 10%;
        left: -10%;
    }
    #main-content {
        margin: 5px 15%;
    }
    .track-info > * {
        font-size: 1.2rem;
    }
    .track-album {
        font-size: 1.2rem;
    }
}