[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
transformers = "*"
tensorflow-macos = "*"
pytest = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "3.10"
