{% extends 'base.html' %} 

{% block content %} 
<div class="flex-v">
    <form class="flex-v" method="POST" name="fetchForm">
        <label for="inputSentence">sentence:</label>
            <input type="text" name="inputSentence" id="inputSentence">
        
        <input type="submit" value="analyze">
        <textarea name="response" id="response" readonly>{{ response }}</textarea>
    </form>
    
    {% for track in tracks %}
    <div class="flex border-m">
        <div class="track-card">
            <img src="{{ track['album']['images'][2]['url'] }}" alt="">
        </div>
        <div class="flex-v track-info">
            <div class="track-title">{{ track['album']['artists'][0]['name'] }}</div>
            <div class="track-artist">{{ track['name'] }}</div>
        </div>
            
        
    </div>
    {% endfor %}
</div>
{% endblock %}