<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
    {% block script %}{% endblock %}
</head>

<body>
    <div id="container" >
        <div class="background-tile"></div>
        
            <nav id="menu" >
                
                <a class="nav-item" href="{{ url_for('routes.home') }}">moodring</a>
                <a class="nav-item" href="{{ url_for('routes.analysis') }}">analyze</a>
                <a class="nav-item" href="#">blog</a>
                <a class="nav-item" href="#">about</a>
                        
                 <div class="toggle-switch">
                    <label class="switch-label">
                        <input type="checkbox" class="switch-checkbox" id="light-mode">
                        <span class="switch-slider"></span>
                    </label>
                </div>
            
            </nav>
            
            {% block content %} {% endblock %}
            
    </div>

    <div id="modal-background">
        <div id="modal-container">
            {% block modal %}{% endblock %}
        
        </div>
    </div>


</body>
</html>