<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
    {% block script %}{% endblock %}
</head>

<body>
    <div id="container" >
        <div class="background-tile"></div>
        
            <header id="menu" >
                
                    <nav class="nav-items">
                        <a class="nav-item" href="{{ url_for('routes.home') }}">spot</a>
                        <a class="nav-item" href="{{ url_for('routes.analysis') }}">analyze</a>
                        <span class="nav-item" ></span>
                        <a class="nav-item" href="#">...</a>
                    </nav>
                
            
            </header>
            
            {% block content %} {% endblock %}
            
    </div>

    <div id="modal-background">
        <div id="modal-container">
            {% block modal %}{% endblock %}
        
        </div>
    </div>


</body>
</html>