{% extends 'base.html' %} 

{% block content %} 
    <form class="flex-v" method="POST" name="fetchForm">
        <label for="energy">energy:</label>
        <select name="energy" id="energy">
            <option value="low">low</option>
            <option value="mid">mid</option>
            <option value="high">high</option>
        </select>

        <label for="valence">valence:</label>
        <select name="valence" id="valence">
            <option value="low">low</option>
            <option value="mid">mid</option>
            <option value="high">high</option>
        </select>

        <label for="tempo">tempo:</label>
        <select name="tempo" id="tempo">
            <option value="low">low</option>
            <option value="mid">mid</option>
            <option value="high">high</option>
        </select>
        
        <label for="seed">seed:</label>
        <input type="text" name="seed" required>

        <input type="submit" value="req">
        <textarea name="response" id="response" readonly>{{ response }}</textarea>
    </form>
{% endblock %}