{% extends 'card.html' %} 

{% block card %} 
    <form id="form-content" method="POST" name="analysis_form" id="analysis_form">
                
        <label for="search-artist"></label>
        <input type="text" list="suggestions" name="search-artist" id="search-input" class="text-input" autocomplete="off" required>
        
        <div id="suggestions-container">
            <datalist id="suggestions">
                <option class="suggestion" value=""></option>
                <option class="suggestion" value=""></option>
                <option class="suggestion" value=""></option>
            </datalist>
        </div>

        <input id="search-button" class="form-button" type="submit" value="analyze">
        
    </form>
{% endblock %}
