<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>

<body>
    <div id="container">
        <div class="background-tile"></div>
        
            <header id="menu">
                
                    <div class="nav-items">
                        <a class="nav-item" href="/">spot</a>
                        <a class="nav-item" href="/authorize/">connect</a>
                        <a class="nav-item" href="/analysis">analyze</a>
                        <span class="nav-item"></span>
                        <a class="nav-item" href="#">...</a>
                    </div>
                
            
            </header>
            
             
<div id="options" class="">
            
    <div class="" id="form-card">
        <form id="form-content" method="POST" name="analysis_form">
            <input type="text" name="input-sentence" class="input_sentence" placeholder="tell me whats up" required="">
            
            <input id="analyze_button" type="submit" value="analyze">
            <a id="options_button" href="#">|||</a>
            
        </form>
    </div>
    
</div>



<div id="content" class="content is-hidden">
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851937cb64fc0083d1ee41ac49b" alt="">
        
        <div class="track-info">
            <div class="track-title">Wavy Gravy</div>
            <div class="track-artists">Sasha</div>
        </div>
        <div class="track-album">Airdrawndagger</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d0000485128d50111753a8434114e9477" alt="">
        
        <div class="track-info">
            <div class="track-title">A Little Somethin Somethin - Original Mix</div>
            <div class="track-artists">Finnebassen</div>
        </div>
        <div class="track-album">What You Do EP</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851ce011c96768c586a5d4e9ec3" alt="">
        
        <div class="track-info">
            <div class="track-title">No Doubt</div>
            <div class="track-artists">Leave</div>
        </div>
        <div class="track-album">No Doubt</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851bbe0c0e83b883a594ae0a44b" alt="">
        
        <div class="track-info">
            <div class="track-title">Flash of Light - Solomun Mix</div>
            <div class="track-artists">Luca C &amp; Brigante, Róisín Murphy, Solomun</div>
        </div>
        <div class="track-album">Flash of Light</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851acafd3f7ee4aca3e2195485a" alt="">
        
        <div class="track-info">
            <div class="track-title">Pendos</div>
            <div class="track-artists">NTFO</div>
        </div>
        <div class="track-album">Diynamic Neon Nights Sampler, Pt. 2</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851f39e6e1bb7e8d79d2101d21b" alt="">
        
        <div class="track-info">
            <div class="track-title">My Own Business</div>
            <div class="track-artists">Kolombo</div>
        </div>
        <div class="track-album">My Own Business</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851e70baa1c802c0a9ebede1063" alt="">
        
        <div class="track-info">
            <div class="track-title">Bella</div>
            <div class="track-artists">Finnebassen</div>
        </div>
        <div class="track-album">Bella</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d0000485147191d83001ef9e56877250f" alt="">
        
        <div class="track-info">
            <div class="track-title">Rule the World - Original Mix</div>
            <div class="track-artists">Rashid Ajami</div>
        </div>
        <div class="track-album">Rule the World (The Mixes)</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d000048517da7733f8e2811a85dc30de1" alt="">
        
        <div class="track-info">
            <div class="track-title">Rise of Angel - Andrea Oliva Remix</div>
            <div class="track-artists">Luciano, Andrea Oliva</div>
        </div>
        <div class="track-album">Rise of Angel</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d000048510450278e8d68fde5897789e5" alt="">
        
        <div class="track-info">
            <div class="track-title">Walking with Elephants</div>
            <div class="track-artists">Ten Walls</div>
        </div>
        <div class="track-album">Walking With Elephants</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        <div class="track-number">1</div>
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851bfea7c8cb534af2e1ab77106" alt="">
        
        <div class="track-info">
            <div class="track-title">Menina Brasiliera</div>
            <div class="track-artists">Loco Dice</div>
        </div>
        <div class="track-album">Jacuzzi Games</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        <div class="track-number">1</div>
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d000048514adb471799a828cea0263e65" alt="">
        
        <div class="track-info">
            <div class="track-title">Professional Griefers</div>
            <div class="track-artists">deadmau5, Gerard Way</div>
        </div>
        <div class="track-album">&gt; Album Title Goes Here &lt;</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        <div class="track-number">1</div>
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d000048517e519297d9876b6afff2ab7b" alt="">
        
        <div class="track-info">
            <div class="track-title">Rather Be (feat. Jess Glynne)</div>
            <div class="track-artists">Clean Bandit, Jess Glynne</div>
        </div>
        <div class="track-album">Rather Be (feat. Jess Glynne)</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        <div class="track-number">1</div>
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851841159459f6ea77a42f4581e" alt="">
        
        <div class="track-info">
            <div class="track-title">What Love Is Made of</div>
            <div class="track-artists">Katy B</div>
        </div>
        <div class="track-album">What Love is Made of</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    <div class="track-card">
        <div class="track-number">1</div>
        
        <img class="track-image" src="https://i.scdn.co/image/ab67616d00004851f80033a50df7428e9022e7fe" alt="">
        
        <div class="track-info">
            <div class="track-title">I Can See (Konstantin Sibold Remix)</div>
            <div class="track-artists">Jazzanova, Ben Westbeech</div>
        </div>
        <div class="track-album">I Can See (Konstantin Sibold Remix)</div>
        
        <div class="track-controls">
            <a href="" class="track-preview">&gt;</a>
            <a href="" class="track-delete">x</a>
            <a href="" class="track-share">+</a>
            
        </div>
    </div>
    
    
    
    <div id="send" class="track-card">
        <a id="send_button" href="#">send playlist to spotify</a>
    </div>

</div>

            
    </div>

</body></html>