.border-l {
    border: 1px solid black;
    background-color: white;
}
.border-m {
    border: 1px solid black;
    background-color: rgb(183, 183, 183);
}
.border-d {
    border: 1px solid black;
    background-color: rgb(100, 100, 100);
}

.flex {
    display: flex;
}
.flex-v{
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}


.nav{
    width: 100%;
}
.navbar {
    flex-basis: 50%;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}
.nav-items {
    gap: 2rem;
    position: relative;
}
.nav-item {
    text-decoration: underline #21b856;
    color: black;
    font-size: 1.1rem;
    z-index: 2;
}
.nav-item:hover {
    text-decoration: wavy underline #21b856;
    color: black;
}

.main{
    flex-basis: 60%;
}

#spotify{
    background: #21b856;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    align-self: center;
}
#spotify:hover{
    text-emphasis-style: bold;
}

#response{
    width: 100%;
    height: 100%;
}